html, body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;
}

.container {
	min-height: 100%;

	border-left: 1px solid black;
	border-right: 1px solid black;
}

.footer {
	position: absolute;
	bottom: 0;
	
	width: 100%;
	border-top: 1px solid black;
}
