$slide-size: 500px;

a {
	color: inherit;
}

body {
	width: 670px;
	margin: 0 auto;
	background-color: #e7e7e7;
	font-family: 'NanumBarunGothic', 'Malgun Gothic', 'Helvetica Neue', dotum, 'Lucida Grande', sans-serif;
}

#nav > ul {

	list-style-type: none;

	& li {
		float: left;
	
		img {
			width: 180px;
			margin-top: 3px;
		}

		p {
			float: right;
			font-size: 27px;
			margin: 3px 0 0 20px;
		}

	}
}

#main {

	margin-top: 200px;
	clear: both;

	#slideshow {
		position: relative;
		width: $slide-size;
		height: $slide-size;
	}

	#slide0, #slide1 {
		position: absolute;
		width: $slide-size;
		height: $slide-size;
	}
}